<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="box">
      <h3>Contáctanos</h3>
      <div class="box-data">
        <span>335 Calle Atenas, Arequipa, Perú</span>
        <span>+959277633</span>
        <span>fcardenasm@unsa.edu.pe</span>
      </div>

      <ul class="social">
        <li class="social-item">
          <a href="#">
            <i class="ri-facebook-box-fill"></i>
          </a>
        </li>
        <li class="social-item">
          <a href="#">
            <i class="ri-instagram-fill"></i>
          </a>
        </li>
        <li class="social-item">
          <a href="#">
            <i class="ri-twitter-fill"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="box">
      <h3>Nuestras Páginas</h3>

      <div class="box-data">
        <a href="{% url 'home' %}" >Inicio</a>
        <a href="/about" >Acerca de Nosotros</a>
      </div>
    </div>

    <div class="box">
      <h3>Boletín de Noticias</h3>

      <div class="box-data">
        <p>Suscríbete a nuestro boletín de noticias para recibir actualizaciones sobre nuevos cursos, eventos y ofertas especiales. ¡No te pierdas nada de lo que JuniorMentor tiene para ofrecer!</p>
      </div>
    </div>
  </div>

  <p class="copyright">Junior Mentor - Todos los derechos reservados</p>
</footer>

